* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin img_com {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.images {
  position: relative;
  width: 100%;
  height: 900px;

  .box_yotube {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .box_yotube iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }

  .img_fade1 {
    background: url("./img1.jpg") no-repeat 0 -50px / cover fixed;
    @include img_com();
  }
  .img_fade2 {
    background: url("./img2.jpg") no-repeat 0 -50px / cover fixed;
    @include img_com();
  }
  .img_fade3 {
    background: url("./img3.jpg") no-repeat 0 -50px / cover fixed;
    @include img_com();
  }
  .img_fade4 {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }
}

.img_fade1.on,
.img_fade2.on,
.img_fade3.on,
.img_fade4.on {
  opacity: 1;
}
.btn.on {
  background-color: red;
}

.btns {
  display: flex;
  margin-left: 30px;
  li {
    margin: 0 10px;
  }
}

.ctrl_box {
  position: relative;
  display: flex;
  top: 10px;
  left: 20%;
  transform: translateY(-50%);
  &::before {
    content: "";
    position: absolute;
    left: -10px;
    width: 100%;
    height: 25px;
    background-color: #2f363c;
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    width: 1000px;
    left: -960px;
    height: 25px;
    background-color: #df3127;
    z-index: -1;
  }
}
.stop,
.play {
  display: none;
  &.on {
    display: block;
  }
}
